/* -------------------------------- 

Primary style

-------------------------------- */
.procedure {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .card-title{
      color:black !important;
  }
  .proceduree{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .centered-heading {
    text-align: center;
    margin: 0;
    font-weight: 700;
    color: #333;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
  }
  
  .owl-carousel {
    width: 80%; 
    margin: 0 auto;
  }
  
  .timeline-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    scrollbar-width: thin;
  }
  
  .timeline-content h2 {
    font-size: 20px !important;
  }
  
  .timeline-content p {
    font-size: 16px !important;
  }
  .step {
    color: white !important;
    margin: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 5px !important;
    padding-left: 5%;
    width: 100% !important;
    text-align: start;
  
    position: absolute;
    bottom: 0; /* Ensures it's at the bottom */
    max-width: 400px;
    background-color: #03afa1;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .timeline-item {
    /* flex: 0 0 auto; */
    /* aspect-ratio: 1 / 1;  */
    width: 500px;
    min-height: 370px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Classic card shadow effect */
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth effect */
  }
  
  .timeline-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .timeline-content {
    /* padding: 15px; */
    flex-grow: 1;
  }
  
  .timeline-content h2 {
    font-size: 2rem; /* Initial size */
    margin-bottom: 10px;
    color: #333;
    text-align: center;
  }
  
  .timeline-content em {
    display: block;
  
    color: #666;
    margin-bottom: 10px;
  }
  
  .timeline-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  .timeline-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
  }
  
  @media (min-width: 769px) and (max-width: 1150px) {
.procedure {
    padding:30px !important;
  }

  .proceduree{
   padding:30px !important;
  }
}
  @media (max-width: 768px) {
    .timeline-content h2 {
      font-size: 1.5rem; /* Adjust size for smaller screens */
    }
   
  
    .timeline-image {
      height: 150px; /* Resize image for smaller screens */
    }
  
    .timeline-item {
      width: 90%;
      min-height: 150px !important;
    }
    .centered-heading {
     
      font-size: 30px;
      padding: 0px 30px;
    }
    .procedure {
      padding:20 !important;
    }
    .timeline-item {
      width: 100%;
      min-height: 330px !important;
    }
     .procedure {
    padding: 20px;
   
    
      }
       .proceduree{
 padding: 20px;

       }
  }
  
  @media (max-width: 480px) {
      .procedure {
    padding: 20px;
    
      }
    .timeline-content h2 {
      font-size: 1.2rem; /* Further adjust for very small screens */
    }
  
    .timeline-content p {
      font-size: 0.9rem;
    }
    .procedure {
      padding-left: 5% !important;
    }
    .timeline-item {
      width: 100%;
     min-height: 345px !important;
    }
        .proceduree{
 padding: 20px;

       }
  }
  
  @media screen and (max-width: 990px) and (min-width: 767px) {
    .owl-carousel {
      display: flex;
      flex-wrap: wrap; /* Ensures items wrap to the next row */
      justify-content: space-around;
    }
  
    .timeline-item {
      width: 100%;
  
      min-height: 410px !important;
    }
  
    .timeline-content h2 {
      font-size: 1.2rem;
    }
  
    .timeline-content p {
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 1190px) and (min-width: 991px) {
   
    .step {
      max-width: 520px;
    }
    .timeline-item {
      width: 100%;
      min-height: 360px !important;
    }
  }
  
  @media screen and (max-width: 1300px) and (min-width: 1200px) {
    .owl-carousel {
      display: flex;
      flex-wrap: wrap; /* Ensures items wrap to the next row */
      justify-content: space-around;
    }
  
    .timeline-item {
      width: 100%;
  
      min-height: 360px !important;
    }
  
    .timeline-content h2 {
      font-size: 1.2rem;
    }
  
    .timeline-content p {
      font-size: 0.9rem;
    }
  }
  


  .service-item-top img {
    transition: 0.5s;
  }
  .background {
    /* padding: 40px; */
  
    padding-top: 5% !important;
    padding-bottom: 5% !important;
  }
  .service-item-top:hover img {
    transform: scale(1.1);
  }
  
  .font h2 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .font h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #03afa1 !important;
  }
  
  .font h6 {
    font-size: 20px;
    font-weight: bold;
    color: #03afa1 !important;
  }
  .service-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .cost {
    color: #85bb65;
  }
  .service-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #03afa1 !important;
    border: 5px solid white !important;
    transition: 0.5s;
  }
  
  .service-carousel .owl-dot.active {
    background: white !important;
    border-color: #03afa1 !important;
  }
  
  .card {
    width: 400px;
    margin: 20px auto;
    border: none;
    /* border-radius: 5px !important; */
    height: 300px;
    overflow: hidden;
    padding: 20px;
    background: #f9f9f9;
  }
  
  .card-img-top {
    width: 100%;
    height: 320px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: 400 !important;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .card-price {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 15px;
  }
  
  .Book-button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 10px 65px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px 20px 5px !important;
  }
  
  .Book-button:hover {
    color: #03afa1;
    background-color: white;
    border: 2px solid #03afa1;
  }
  
  @media (max-width: 767px) {
    .card {
      width: 90%; /* Adjust the card width to 90% of the container */
      padding: 15px; /* Reduce padding for smaller screens */
    }
    .font h1 {
      font-size: 18px;
      font-weight: bold;
    }
  
    .card-img-top {
      height: 250px; /* Adjust the height for smaller devices */
    }
  
    .font h3 {
      font-size: 16px;
      font-weight: bold;
      color: #03afa1 !important;
    }
    .font h2 {
      font-size: 25px;
      font-weight: bold;
    }
    .card-title {
      font-size: 18px; /* Adjust title font size */
    }
  
    .card-price {
      font-size: 16px; /* Adjust price font size */
    }
  
    .Book-button {
      padding: 10px 40px; /* Adjust button padding for smaller devices */
    }
  }
  
  @media (min-width: 770px) and (max-width: 1000px) {
    .card {
      width: 100%; /* Adjust the card width to 90% of the container */
      padding: 15px; /* Reduce padding for smaller screens */
    }
  
    .card-img-top {
      height: 250px; /* Adjust the height for smaller devices */
    }
  
    .card-title {
      font-size: 18px; /* Adjust title font size */
    }
  
    .card-price {
      font-size: 16px; /* Adjust price font size */
    }
  
    .Book-button {
      padding: 10px 40px; /* Adjust button padding for smaller devices */
    }
  }
  


  .custom-card {
    /* border: 3px solid #03afa1; 
    padding: 15px;
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 400px !important; 
    margin: auto;
  height: 450px !important; */

  border: 3px solid #03afa1; /* Border color */
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  width: 100%; /* Ensure it takes full column width */
  max-width: 400px; /* Prevent it from being too large */
  margin: auto; /* Centering */
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ensures equal height */
  min-height: 440px; /* Allows height to adjust based on content */
}



.card-title {
    color: #42A72D;
    font-weight: bold;
    text-align: left;
}

.custom-card p{
  text-align: left;
}



/* Make sure each card properly adjusts on different screen sizes */
@media (min-width: 1200px) {
    .col-lg-4 {
        flex: 0 0 20%; /* Increase width to 30% for better spacing */
        max-width: 20%;
    }
}

@media (max-width: 992px) {
    .col-md-6 {
        flex: 0 0 45%; /* 2 cards per row */
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .col-sm-12 {
        flex: 0 0 90%; /* 1 card per row on smaller screens */
        max-width: 90%;
    }
    .custom-card {
      border: 3px solid #03afa1; /* Red border */
      padding: 15px;
      border-radius: 8px; /* Rounded corners */
      transition: transform 0.3s ease-in-out;
      width: 100%; /* Ensure it takes full column width */
      max-width: 400px !important; /* Prevent it from being too large on large screens */
      margin: auto; /* Centering */
    height: 400px !important;
  }
}

@media (max-width: 500px) {
 

.proceduree {
  padding: 20px 20px;
}
.custom-card {
 
min-height: 200px !important;
}
}
