.before-after-section {
  background: #f3f3f3;
  background: #f3f3f3;
  padding-top: 5%;
  padding-bottom: 5%;
}

.before-after-container {
  margin: 0 auto;
  padding: 0px 90px;
  text-align: center;
}

.before-after-heading {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
}

.before-after-heading-text h2 {
  font-size: 30px;
  color: black;
  padding: 0 30px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  display: inline-block;
  background: #f3f3f3;
}

.before-after-slider {
  position: relative;
  margin: 0 10px;
}

.before-after-wrapper {
  overflow: hidden;
  border-radius: 10px;
  margin: 0 50px;
}

.before-after-list {
  display: flex;
  padding: 20px 0;
  margin: 0;
  list-style: none;
  transition: transform 0.3s ease;
}

.before-after-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.image-comparison-wrapper {
  /* border: 3px solid #00c1b5; */
  padding: 10px;
  border-radius: 20px;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 4px 6px rgba(0, 193, 181, 0.4);
}

.labels-container {
  display: flex;
  justify-content: space-between;
  background: #00c1b5;
  box-shadow: 0px 4px 6px rgba(0, 193, 181, 0.4);
  /* margin: 0 -10px -10px -10px; */
  border-radius: 0px 0px 10px 10px;
}

.label {
  flex: 1;
  color: white;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
}

.before-after-nav {
  width: 32px;
  height: 32px;
  background: white;
  color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.before-after-nav-prev {
  left: 0;
}

.before-after-nav-next {
  right: 0;
}

@media (min-width: 769px) and (max-width: 1150px) {
.before-after-section {
 
  padding: 30px !important;
}
}
/* Responsive Design */
@media (min-width: 768px) {
  .before-after-list {
    flex-wrap: nowrap;
  }

  .before-after-item {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .before-after-nav {
    display: none;
  }

  .before-after-wrapper {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .before-after-list {
    flex-wrap: nowrap;
  }
  .before-after-heading {
    padding: 0px 30px;
    margin-bottom: 10px;
  }

  .before-after-container {
    text-align: start;
  }
  .before-after-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
  }

  .before-after-nav {
    display: flex;
  }

  .before-after-heading-text {
    font-size: 18px;
  }

  .before-after-container {
    padding: 20px 20px;
  }
  .before-after-heading-text h2 {
    padding: 0 0px;
  }
}

@media (max-width: 480px) {
  .before-after-container {
    max-width: 100%;
    padding: 20px !important;
  }

  .before-after-item{
   
 
  }
  .image-comparison-wrapper {
    padding: 0px;
  }

  .label {
    font-size: 12px;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .before-after-container {
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
  }
}

